<html>
<head>
</head>
<body>

<div style="box-sizing:border-box;margin:0;padding:0;width:100%;">
	<div class="form-wrap" style="border-spacing:0;margin:0 auto;padding:15px;width:100%;background-color:#2d8cff;">	
		<div class="form" style="width:700px;min-height:400px;max-width:100%;max-height:100%;margin:20px auto;padding: 40px;border: 1px solid #ddd;border-radius: 20px;background-color: #fff;">
			<div class="form__content" style="font-size:100%;padding-top:0;margin-top:0;margin-bottom:0">
				<h1 style="color:#2d8cff;text-align: center;font-size:170%;">Hi {{name}}</h1>
				
				<p style="color: rgb(150,154,161);font-weight: 400;line-height: 30px;">Follow this link to confirm your email {{ link }} .</p>
			</div>
		</div>	
	</div>
</div>

</body>
</html>